
*, ::before, ::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

body {
  background-color: #eee9e6;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}
/* Nav-bar styles */

header {
  background-color: #f48b0c;
}

/* .nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 0.5rem;
  order: 1;
} */

.links {
  list-style: none;
} 

.nav-center {
  display: flex;
  width: 100%;
}

.toggle-btn {
  margin-left: auto;
  background-color: transparent;
  border-color: transparent;
  font-size: 1.75rem;
  margin-top: .5rem;
  margin-right: .5rem;
  color: #46474b;
  cursor: pointer;
}

.links {
  display: flex;
  flex-direction: column; 
  font-family: 'Roboto', sans-serif;
  color: #eee9e6;
  margin-left: auto;
  margin-right: .75rem;
  align-items: center;
  font-size: 1.25rem;
}

.links a {
  text-decoration: none;
  color: #eee9e6;
}

.links a::after {
  display: block;
  content: "";
  transform: scaleX(0);
  border-bottom: #eee9e6 solid medium;
  transition: transform .25s ease-in-out;
}

.links a:hover:after { 
  transform: scaleX(1);
  transform-origin: left;
 }

.links li:not(:first-child) {
  margin-top: 1rem;
  
}

.sidebar {
    height: 100%; /* 100% Full-height */
    width: 10rem; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    transform: translate(100%);
    background-color: #6b6c73
  }

  .show-sidebar {
    transform: translate(0);
  }

  #closing-btn {
    color: #eee9e6;
    margin-left: 6.75rem;
  }



/* Main styles */

main {
  background-color:  ;
}

.introduction {
    color: #eee9e6;
    font-family: 'Roboto', sans-serif;
    background-color: #f48b0c;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    padding-bottom: 1rem;
}

.introduction h1 {
    font-weight: 700;
    margin-top: 0;
    margin-left: .5rem;
}
  
  .introduction h3 {
    text-align:end;
    margin-right: .75rem;
    font-weight: 500;  
}

/* Portfolio */

.portfolio-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: .5rem;
}

.portfolio-img {
    width: 22rem;
    height: auto;
    border-radius: .5rem .5rem 0 0;
    
}

.portfolio-info {
    background-color: #f6f4f2;
    border-radius: .5rem;
}

.portfolio-info p {
    margin: 1rem .4rem 0;
}

.projects-btn {
    margin-left: 14rem;
    margin-bottom: .5rem;
    border-radius: .4rem;
    background-color: #f48b0c;
    color: #eee9e6;
    border: 0 none;
    padding: .5rem .6rem;
}

.projects-btn a {
    text-decoration: none;
    color: #eee9e6;
}

/* About */
.about {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #46474b;
  margin-top: .5rem;
  color: #eee9e6;
}

.about h3 {
  font-size: 2.5rem;
  margin-bottom: 0rem;
  margin-top: .5rem;
}

.profile-img {
  width: 9rem;
  height: auto;
  border-radius: 50%;
  margin-top: .35rem;
  position: relative;
}

.img-container {
  width: 9rem;
  height: 9rem;
  position: relative;
}

.img-container::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #f48b0c;
  position: absolute;
  top: .1rem;
  right: -.4rem;
  border-radius: 50%;
}

.paragraph {
  margin: 1rem 1rem 1rem;
}


/* Skill cards */

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: .5rem;
    font-family: 'Roboto', sans-serif;
}

.title, .portfolio-section h3 {
    font-size: 2.5rem;
    margin-bottom: .5rem;
    margin-top: .75rem;
    color: #1c232d;
    text-align: center;
}

.skill-card {
    background-color: #f6f4f2;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #1c232d;
    width: 20rem;
    word-wrap: break-word;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.icon {
  font-size: 4rem;
}

.skill-card h4 {
    margin-bottom: .5rem;
    font-size: 2rem;
    margin-top: .5rem;
}

.underline {
    width: 15rem;
    height: .2rem;
    background-color: #46474b;
    margin-top: .75rem;
}

.skill-card p {
    width: fit-content;
    width: 18rem;
    line-height: 1.2rem;
}

.skill-card:not(:first-child) {
    margin-top: 1rem;
}

/* Contact styles */

.form-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact-form {
  width: 80%;
}

/* .contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.contact-p, .form-p {
  text-align: center;
}

label {
  font-size: 1.25rem;
} 

.form-section {
  margin-bottom: .5rem;
}

input, textarea {
  width: 100%;
}

input#name {
  margin-bottom: .5rem;
}

.red-input {
  border: 1px solid red;
}

.red-label {
  color:red;
}



.submit-btn {
  font-size: 1.25rem;
  color: #f6f4f2;
  background-color: #1c232d;
  border-radius: .3rem;
}

/* Footer styles */

footer {
  margin-top: 1rem;
  
}

.footer-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#1c232d;
}

.social-icons {
    margin-top: .5rem;
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.social-icons a {
    margin: 0 .5rem;
    text-decoration: none;
    color: #eee9e6;
    margin-bottom: ;
}

.social-icons a:visited {
    text-decoration: none;

}

.copyright {
    margin-bottom: .5rem;
    color: #eee9e6;
    text-align: center;
    font-size: .8rem;
}

@media (min-width: 43rem) {

  .portfolio-section {
    margin-bottom: 1rem;
  }
  .portfolio {
    flex-direction: row;
    justify-content: center;
    width: 40rem;
  }
  .portfolio-section h3 {
    text-align: center;
  }
  .portfolio-info {
    height: 14.64375rem;
    width: 22rem;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    display:flex; 
    justify-content:center;
    align-items:center;
    flex-direction: column;
    font-size: 1.25rem;
  }
  
  .portfolio-img {
    margin-top: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.5rem;
  }

  .projects-btn {
    margin-left: 0;
    font-size: 1.25rem;
    margin-top: 1rem;
  }

  .paragraph {
    margin: 1rem 3rem 1rem;
    line-height: 1.25rem;
    font-size: 1.25rem;
  }

  .skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  1fr 1fr;
    text-align: center;
    
  }

  #sk1 {
    grid-column: 1/2;
    grid-row: 1/2;
    margin:auto;
  }

  #sk2 {
    grid-column: 2/3;
    grid-row: 1/2;
    margin:auto;
  }

  #sk3 {
    grid-column: 1/2;
    grid-row: 2/3;
    margin:auto;
    margin-top: .5rem;
  }

  #sk4 {
    grid-column: 2/3;
    grid-row: 2/3;
    margin:auto;
    margin-top: .5rem;
  }

  .title {
    text-align: center;
  }
}

@media (min-width:62.5rem) {

  .nav-center {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
     
  }


  .toggle-btn {
    display: none;
  }

  .sidebar {
    transform: translate(0);
    position: relative;
    width: 100%;
    display: flex;
    justify-content: end;
    background-color: #f48b0c;
  }

  .links {
    flex-direction: row;
    margin-bottom: .5rem;
  }

  .links li {
    margin: 1rem 1rem 0;
  }

  .links a {
    color:#f1edeb;
    font-size: 1.35rem;
  }

  main {
    padding-top: 2.75rem;
    margin-top: .5rem
  }

  .portfolio-img {
    width:30rem;
  }

  .portfolio-info {
    height: 19.96875rem
  }

  .portfolio {
    width: 50rem;
    height: auto;
  }

  .about h3 {
    margin-bottom: .5rem;
  }

  .img-container {
    width: 14rem;
    height: auto;
  }

  .img-container::before {
    top:-0.3rem;
    right: -.65rem;
  }

  .profile-img {
    width: 14rem;
  }

  .skills {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #sk1 {
    justify-self: end;
    margin: unset;
  }

  #sk3 {
    grid-column: 3/4;
    grid-row: 1/2;
    margin:unset;
  }

}

@media (min-width: 75rem) {
  .skill-card {
    width: 18.125rem;
    margin: auto;
  }

  .skill-card p {
    width: 16rem;
  }

  .skills {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  #sk4 {
    grid-column: 4/5;
    grid-row: 1/2;

  }

  #sk3 {
    margin: auto;
  }

  #sk1 {
    margin: auto;
  }

  #name-section {
    display: flex;
  }

  #name-div {
    width: 50%;
    margin-right: .5rem;
  }

  #last-div {
    width: 50%;
  }
}